<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hinzufügen von Obst</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
      <h1>Hinzufügen/Bearbeiten vom Obst</h1>
    <form th:action="@{/obst/add}" th:object="${obst}" method="post">
        <input type="hidden" th:field="*{id}">
        <input type="text" th:field="*{bezeichnung}" class="form-control" placeholder="obst bezeichnung">
        Gewicht: <input type="number" th:field="*{gewicht}" class="form-control" placeholder="obst gewicht">
        Preis: <input type="number" th:field="*{preis}" class="form-control" placeholder="obst preis">
        Haltbar bis: <input type="date" th:field="*{haltbarBis}" class="form-control">
      <input type="submit" class="form-control" value="Save">
    </form>
  </div>
</body>
</html>